

.searchBar{
    position: absolute;
    top: 0.5rem; 
}

.navbar {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    display: flex;
    justify-content: center;
    color: red;
    padding: 1rem;
    background-color: white;
}

li{
    list-style: none;
    display: inline-block;
    padding: 1.25rem;
    color: white;
}

a:link {
    text-decoration: none;
    color: red;
}

a{
    color: black;

}

a:hover{
    color: rgba(138, 138, 138, 0.755);
}